  <div class="home__main-logo">Logo</div>

  <div class="home__main-wrapper">
    <div class="home__main">
      <h1>Expert <span class="special-class">Boilermaker</span> <br /> Advice - One Click <br/> Away!</h1>
      <p>New to Purdue? Feeling like a Boiler in the dark? BoilerFind connects you with experienced <br/> upperclassmen mentors – your one-click ticket to Purdue wisdom! Get insider tips, ace your classes, <br/> and navigate campus life with confidence. Boiler up – your Purdue mentor awaits</p>
      <div class="home__main-button-wrapper">
        <button>Connect with mentors</button>
        <button onclick="javascript:window.location.href='/auth/register'">Set up an account</button>
      </div>

    </div>
  </div>
