<h1>Change password</h1>

<form id="password-change">
    <input id="old" type="password" name="old" placeholder="Old password">
    <br><br>
    <input id="new" type="password" name="new" placeholder="New password">
    <br><br>
    <input id="confirm" type="password" name="confirm" placeholder="Confirm new password">
    <br><br>
    <button type="submit">Change password</button>
</form>

<button onclick="window.location.href = '/dashboard';">Return to dashboard</button>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    console.log("hi")
    var notyf = new Notyf();
    document.getElementById('password-change').addEventListener('submit', function(e) {
        e.preventDefault();
        var old = document.getElementById('old').value;
        var newPass = document.getElementById('new').value;
        var confirm = document.getElementById('confirm').value;

        if (newPass !== confirm) {
            notyf.error('New passwords do not match');
            return;
        }
        else {
            fetch('/auth/changePassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    old: old,
                    confirm: confirm,
                    newPassword: newPass
                })
            })
            .then(response => response.json())
            .then(data => {
                switch (data.status) {
                    case "success":
                        notyf.success(data.message);
                        return;
                    case "error":
                        notyf.error(data.message);
                        return;
                }
            });
        }
    });
    </script>
        