@font-face {
    font-family: 'United';
    src: url('/assets/UnitedSansExLt.ttf') format('truetype');
}

@font-face {
    font-family: 'UniBold';
    src: url('/assets/UnitedSansSmExHv.ttf') format('truetype')
}

body {
    margin: 0;
    font-family: United;
    display: flex;
    height: 100vh;
    background-color: #0d0d0d;
    color: #ffffff;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 20%;
    background-color: #121212;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
    font-family: UniBold;
    font-size: 2em;
}

.search-bar {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: white;
}

.friends-list {
    flex-grow: 1;
    overflow-y: auto;
    font-family: 'Inter';
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: 'Inter';
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

.friend-item:hover {
    background-color: #333333;
    font-family: 'Inter';
}

.friend-info {
    display: flex;
    align-items: center;
    font-family: 'Inter';
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    font-family: 'Inter';
}

.chat-header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333333;
    font-family: 'Inter';
}

.messages-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
}

.message-item {
    padding: 10px;
    font-family: 'Inter';
    border-bottom: 1px solid #333333;
}

.message-form {
    display: flex;
    padding: 10px;
    font-family: 'Inter';
    border-top: 1px solid #333333;
    background-color: #1e1e1e;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #333333;
    color: white;
    margin-right: 10px;
    font-family: 'Inter';
}

.send-button {
    padding: 10px 20px;
    background-color: rgba(207, 185, 145, 1);
    color: white;
    border: none;
    font-family: 'Inter';
    border-radius: 5px;
    cursor: pointer;
}

.info-panel {
    width: 20%;
    background-color: #121212;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #333333;
}

.info-panel > h2 {
    font-family: UniBold;
    font-size: 2em;
}

.profile-info > p {
    line-height: 1.65;
}

.profile-pic-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info h3 {
    margin: 10px 0;
    font-family: UniBold;
}

.profile-info p {
    margin: 10px 0;
    font-family: 'Inter';
    color: grey;
}

.additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.additional-info .info-item {
    flex: 50%;
    /* text-align: center; */
    text-align: left;
    color: grey;
}

.additional-info .info-item-title {
    color: rgba(207, 185, 145, 1);
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
}

.additional-info .info-item-2 {
    margin-top: 20px;
    flex: 50%;
    /* text-align: center; */
}

.additional-info {
    margin-top: 70px;
}
.card-content {
    text-decoration: none;
}